<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <div class="container">
    <%- include('../partials/header', {subHeading: 'Welcome'}) %>
    <main>
      <ul>
        <li><a href="/users">Visit the user list.</a></li>
        <li><a href="/logs">Visit the logs list.</a></li>
      </ul>
    </main>
  </div>
  <%- include('../partials/scripts') %>
</body>
</html>
